*{
    font-family: Arial;
    box-sizing: border-box;
}
body{
    background-color: green;
    color:white;
}

nav {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
}

nav ul {
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    list-style: none;
}

nav li {
margin-right: 18px;

}

nav a {
    display:block;
    border:1px solid white;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: red;
    text-decoration: none;
    color:white;
    font-size: 18px;

}

.header {
    text-align: center;
}

table {
    margin: 20px auto;
    width: 80%;

}
tr {
    background-color: #fc3f3f;
}

th, td {
    padding: 10px
;
}

th {
    background-color: #ff0000;
}

tr:nth-child(2n) {
    background-color: #ff7272;
}

.add-btn {
    display: inline;
    padding:10px 20px;
    border-radius: 20px ;
    font-weight: bold;
    background-color: green;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.delete {
    border:none;
    border-radius: 5px;
    background-color: #de2020;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.back-home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline;
    border-radius: 20px;
    margin:10px auto;
    padding:10px 20px;
    background-color: grey;
    color:black;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.error {
    width: 80%;
    margin:10px auto;
    padding: 50px;
    border:1px solid #f80303;
    background-color: #ff9191;
}