<h1 class="header">Lista prezentów</h1>
<table>
    <thead>
    <tr>
        <th>
            Nazwa prezentu
        </th>
        <th>
            Ilość
        </th>
    </tr>
    </thead>
    <tbody>
    {{#each gifts}}
    <tr>
        <td class="center" >{{this.name}}</td>
        <td class="center" >{{this.amount}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
<form action="/gifts" method="post">
    <table>
    <thead>
    <tr>
        <th>
            <lable for="gift">Nazwa prezentu</lable>
        </th>
        <th>
            <lable for="gift">Ilość</lable>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td  class="center">
            <input type="text" name="giftName" required>
        </td>
        <td class="center" >
            <input type="number" name="quantity" required>
        </td>
        <td  class="center"><button class="add-btn" type="submit" >+</button></td>
    </tr>
    </tbody>
    </table>
</form>